/* =========================================================
   COMPONENT – BUTTON
   Botões globais do sistema
========================================================= */

/*========== Botão base ==========*/
.btn {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background-image: linear-gradient(
        144deg,
        #e49d14,
        #1f5e5c,
        #e49d14
    );
    background-size: 300% 100%;
    color: #fff;
    border-radius: 15px 4px 15px 4px;
    padding: 12px 20px;
    cursor: pointer;
    overflow: hidden;
    border: none;
    transition: background-position .4s ease;
    text-decoration: none;
}

/* Hover */
.btn:hover {
    background-position: 100% 0;
    color: #fff;
}


